

<main class="main">
  <div class="content">
    <div class="left-side">
        <h1>Sample Form</h1>
        <p>first</p>

    </div>
    <div class="right-side">
       <h2>Template Driven Form Example</h2>
       <form (ngSubmit)="submitForm()">
           <label for="name"> Name: </label>
           <input type="text" id="name" name ="name" ngModel required>
           <br>
           
           <label for="email">Email: </label>
           <input type="email" id="email" name="email" ngModel required>
           <br>
           <button type="submit">Submit</button>
       </form>
    </div>

  </div>
</main>

<router-outlet />
