

<main class="main">
  <div class="content">
    <div class="left-side">
        <h1>Sample Form</h1>
        <p>first</p>

    </div>
    <div class="right-side">
       <h2>Reactive Form Example</h2>
         <form [formGroup]="myForm" (ngSubmit)="submitForm()">
        <label for="name">Name: </label> 
        <input type="text" id="name" formControlName="name" required>
        
        <label for="email">Email: </label>
        <input type="email" id="email" formControlName="email" required>

        <button type="submit" [disabled]="!myForm.valid">Submit</button>
        </form>    
    </div>

  </div>
</main>

<router-outlet />
